@media (max-width: 75rem) {
    /* 1190px / 16px = 74.375rem */
    /* 16px x 75rem = 1200px */

    html{
        font-size: 50%;
        /* 50% of 16px = 8px */
    }
    .feature-text{
        max-width: 400px;
        width: 100%;
    }
    .feature-img{
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 55rem) {
    /* 870px / 16px = 54.375rem */
    /* 16px x 55rem = 880px */

    html{
        font-size: 45%;
        /* 45% of 16px = 7.2px */
    }
    .feature-text{
        max-width: 400px;
        width: 100%;
    }
    .feature-img{
        max-width: 400px;
        width: 100%;
    }
}